.appContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  background: linear-gradient(270deg, #00d4ff, #AE26EF);
  background-size: 400% 400%;
  animation: moveGradient 15s ease infinite;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 750px) {
  .appContainer {
    padding-top: 1rem; 
    padding-bottom: 2.5rem; 
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}