:where(*, *::before, *::after) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  block-size: 100%; /* Modern property */
  text-size-adjust: 100%; /* Prevent iOS zoom */
  overflow: hidden;
}